<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Load properties file -->
    <context:property-placeholder location="classpath:worldWeather.properties"/>

    <!-- Time zone services -->
    <bean id="localTimeZone" class="com.weather.services.timezone.LocalTimeZone">
    </bean>

    <bean id="globalTimeZone" class="com.weather.services.timezone.GlobalTimeZone">
    </bean>

    <!-- Search location services -->
    <bean id="citySearch" class="com.weather.services.search.CitySearch"/>
    <bean id="IPSearch" class="com.weather.services.search.IPAddressSearch"/>
    <bean id="zipCodeSearch" class="com.weather.services.search.ZIPCodeSearch"/>

    <!-- Weather services -->
    <bean id="accuService" class="com.weather.services.AccuWeather">
        <!-- set up constructor injection -->
        <constructor-arg ref="localTimeZone"/>

        <!-- set up setter injection -->
        <property name="searchService" ref="citySearch"/>
    </bean>

    <bean id="worldWeatherService" class="com.weather.services.WorldWeatherService">
        <!-- set up constructor injection -->
        <constructor-arg ref="globalTimeZone"/>

        <!-- set up setter injection -->
        <property name="searchService" ref="IPSearch"/>

        <!-- Inject literal values -->
        <property name="emailAddress" value="noreply@worldweather.com"/>
        <!-- <property name="apiEndPoint" value="/worldweather.json"/> -->

        <!-- Inject literal values from properties file -->
        <property name="apiEndPoint" value="${ww.endpoint}"/>
        <property name="apiKey" value="${ww.apiKey}"/>

    </bean>

    <bean id="nationalWeatherService" class="com.weather.services.NationalWeatherService">
        <constructor-arg ref="localTimeZone"/>

        <!-- set up setter injection -->
        <property name="searchService" ref="zipCodeSearch"/>
    </bean>

    <!-- more bean definitions for services go here -->

</beans>